{
  "presets": ["next/babel"],
  "env": {
    "test": {
      "plugins": ["babel-plugin-istanbul"],
      "only": ["src/components/**/*", "src/app/**/*"]
    }
  },
  "ignore": [
    "node_modules",
    "node_modules/**/*",
    ".next",
    "out",
    ".git",
    "src/middleware.tsx",
    "src/openapi/connector.ts",
    "**/chunk-*.js"
  ],
  "compact": true
}
